@model COMP2139_assign01.Models.Inventory

@{
    ViewBag.Title = "Inventory Summary";
    Layout = "_Layout";
}

<h2>ViewBag.Title</h2>

<div class="Summary">
    <div>
        <h3>Total Products: </h3>
        <p>@Model.TotalStock</p>

        <h3>Low Stock Items:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.LowStockItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.category</td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Categories:</h3>
        <ul>
            @foreach (var category in Model.category)
            {
                <li>@category</li>
            }
        </ul>
    </div>
</div>
